.forms {
  display: flex;
  flex-direction: column;
}

.card-area {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: #fff;
  overflow: hidden;
}
.card-img img {
  width: 100%;
  height: 100%;
  height: auto;
  border-radius: 8px;

}
.card-img {
  flex: 1;
  padding: 20px;
}
.card-diary {
  flex: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form {
  padding: 0px;
  margin: auto;
  font-weight: bold;
  width: 300px;
  font-family: sans-serif;
}
form input {
  width: 100%;
  margin-bottom: 10px;
}
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  .styled-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .styled-table thead tr {
    background-color: cadetblue;
    color: #ffffff;
    text-align: center;
  }
  
  .styled-table th,
  .styled-table td {
      padding: 12px 15px;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid cadetblue;
  }
  .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  
  .styled-table tbody tr:hover {
    background-color: #68535358;
    cursor: pointer;
  }
  input[type="submit"]{
    background-color: #009879;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    transition: background-color 0.25s;
}
input[type="submit"]:hover {
  background-color: #007a62;
}

@media screen and (min-width: 768px) {
  
  .card-area {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  
  .card {
    display: flex;
    justify-content: space-between;
    width: 40%; 
    max-width: 1200px; 
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background-color: #fff;
    overflow: hidden;
  }
  
  .card-img {
    flex: 1;
    margin: auto;
    padding: 20px;
  }
  
  .card-img img {
    width: 150%;
    height: 150%; 

  }
  
  .card-diary {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .card-diary p {
    font-size: 1.2em;
    line-height: 1.5;
  }
  
}