dialog {
  border-radius: 10px;
}

dialog::backdrop {
  background-color: #646cff;
  opacity: 40%;
}

#logOut {
    border-radius: 8px;
    border: 2px solid transparent;
    font-weight: 500;
    width: 100px;
    margin: auto;
    height: 50px;
    font-family: inherit;
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    margin-right: 10px;
    transition: border-color 0.25s;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 0;
}

.entirePage{
  margin-bottom: 20%;
}
.pageContent{
  text-align: center;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding : 1%;
  text-align: center;
  background-color: rgb(68, 112, 114);
}
.SearchBar {
  background-color: cadetblue;
  display: flex;
  width: 100%;
}
.headings {
  display: flex;
  list-style: none;
}
#pageTitle {
  color: wheat;
  margin: auto;
}
#jeff {
  width: 50%;
  height: 50%;
}
.heading { 
  margin: auto;
  color:whitesmoke;
  font-size: x-small;
  flex-direction: row;
}
.headingLinks{
  margin-right: 20px;

}
a {
  
  text-decoration: none;
}
#position {
  color:darkgreen;
  text-decoration: underline;
  text-decoration-thickness: 10%;
  text-underline-offset: 25%;
  text-underline-position: under;
  text-decoration-color:darkgreen;
}

@media screen and (min-width : 768px) {
  
  .SearchBar {
    flex-direction: row;
    margin-top: 0.5%;
    border-radius: 10px;
  }
  .entirePage{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20%;
  }
  #pageTitle {
    padding: 1%;
  }
  
  .headings {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 70%;
  }
  .heading {
    font-size: large;
  }
 
  .pageContent{
    font-size: larger;
    background-color: white;
    border-color: black;
    border-radius: 10px;
    text-align: center;
  }

  #jeff {
    width: 25%;
    height: 25%;
    margin: 0 auto;
  }
  
  a:hover {
    color: rgb(172, 172, 172);
  }
}
button:hover {
  background-color: rgb(172, 172, 172);
}